* {
  box-sizing: border-box;
 
}

 h1,h3 {
  margin:0;
}
 h1 {
  font-size: 48px;
}
 h3 {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

 header,  footer {
  background-color: #22272B;
}
header {
  padding: 20px;
}
footer {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}

 
 article {
  text-align: center;
  margin-bottom: 30px;
  
}
 article img {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}
 a {
  display: inline-block;
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease;
}
 a:hover {
  transform: scale(1.05);
}
 a span {
  opacity: 0.5;
}

.layout_inner {
  max-width: 960px;
  margin: 0 auto;
  padding: 30px 20px;
}
.layout_header {
  margin-bottom: 30px;
  text-align: center;
 }

/* Begin styling the report items here! */
.reports {
  display: grid;
  margin: 0 auto;
  display: grid;
  grid-column-gap: 30px;
}
/* Screen larger than 769px? 3 column */
@media (min-width: 769px) {
  .reports{ grid-template-columns: repeat(3, 1fr); }
}
/* Screen smaller than 768px? 2 columns */
@media (max-width: 768px) {
  .reports{ grid-template-columns: repeat(2, 1fr); }
}

